<div class="mail">
  <div class="mail__options">
    <input class="mail__options--checkbox"type="checkbox"/>
    <img src="https://cdn4.iconfinder.com/data/icons/finance-banking-2/32/star2-512.png" class="mail__options--star"/>
    <img src="https://cdn3.iconfinder.com/data/icons/shopping-12/328/price2.png" class="mail__options--mark"/>
  </div>
  <div class="mail__sender">{{mail.sender}}</div>
  <div class="mail__subject">{{mail.subject}}</div>
  <div class="mail__content"> - {{mail.content}}</div>
  <div class="mail__date">{{mail.date}}</div>
</div>
