<div class="mailitem">
  <div class="mailitem__options">
    <input class="options__checkbox"type="checkbox"/>
    <img src="https://cdn4.iconfinder.com/data/icons/finance-banking-2/32/star2-512.png" class="options__star"/>
    <img src="https://cdn3.iconfinder.com/data/icons/shopping-12/328/price2.png" class="options__mark"/>
  </div>
  <div class="mailitem__sender">{{mail.sender}}</div>
  <div class="mailitem__subject">{{mail.subject}}</div>
  <div class="mailitem__content"> - {{mail.content}}</div>
  <div class="mailitem__date">{{mail.date}}</div>
</div>
