div {
  diplay: inline;
}
.mailitem {
  height: 50px;
  line-height: 70px;
  background-color: #f2f2f2;
  display: table;
}

.mailitem__options {
  display: table;
  float: left;
  position: relative;
}
.options__checkbox {

  position: absolute;
  top: 22px;
  float: left;
  margin-right: 3px;
}
.options__star {
  position: absolute;
  top: 22px;
  left: 25px;
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}
.options__mark {
  position: absolute;
  top: 26px;
  left: 50px;
  width: 18px;
  height: 12px;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}
.mailitem__sender {
  float: left;
  font-weight: bold;
  width: 200px;
  margin-left: 150px;
  display: table-cell;
  vertical-align: middle;
}

.mailitem__subject {
  float: left;
  font-weight: bold;
  margin-right: 3px;
}

.mailitem__content {
  float: left;
  margin-right: 3px;
}

.mailitem__date {
  float: left;
  margin-left: 100px;
}
